<h2> List of Users: </h2>

<table>
    <tr>
        <th>User Name</th>
        <th>Network Address</th>
        <th>Manage</th>
        <th>Delete</th>

    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td><button (click)="onManage(user.name, user.id)">Manage Licenses</button></td>
        <td><button (click)="onDeleteUser(user.id)">Delete</button></td>
    </tr>
</table>

<h3> Add a new User </h3>

<form [formGroup] = "newUserForm" (ngSubmit)="onAddUser()">
    <input formControlName="name" type="text" placeholder = "name"/>
    <input formControlName="addr" type="text" placeholder = "network address"/>
    <button type="submit">Add</button>
</form>

<div *ngIf="currentUser">
    <h2> Software Assigned to {{currentUser.name}}</h2>>
    <table>
        <tr>
            <th>Software Name</th>
            <th>Software Key</th>
            <th>Deletion</th>
        </tr>
        <tr *ngFor="let license of softwareForCurrentUser">
            <td>{{license.name}}</td>
            <td>{{license.license}}</td>
            <td><button (click)="onDeleteLicense(license.software_id)">Delete</button></td>
        </tr>
    </table>

    <h3> Add A License for the user</h3>

    <form [formGroup] = "newLicenseForm" (ngSubmit)="onAddKey()">
        <select formControlName="softid">
            <option  *ngFor="let soft of software" [value]="soft.id">{{soft.name}}</option>
        </select>
        <input formControlName="key" type="text" placeholder="Enter Key Here"/>
        <button type="submit">Add</button>
    </form>
</div>
